@import "tailwindcss";

@font-face{
      font-family: vaziri;
    src: url(../fonts/Vazir.eot) , url(../fonts/Vazir.ttf),  url(../fonts/Vazir.woff) ,  url(../fonts/Vazir.woff2);
}
@font-face{
    font-family: vaziriNumber;
    src: url(../fonts/Vazir-Bold-FD-WOL.ttf);
}
@font-face{
    font-family: Dance;
    src:url(../fonts/Dancing.ttf.ttf)
}
@theme {
    
    --breakpoint-mobile:340px;
    --breakpoint-desktop:1400px;
    --font-family:vaziri;
    --number:vaziriNumber;
    --font-dance:Dance;
}

